@import '/style/reset.css';
@import '/style/nexa.css';

html, body {
	margin: 0;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.content {
	background: rgba(12, 35, 111, 0.15);
	-webkit-flex-grow: 4;
	flex-grow: 4;
}

body > footer {
	-webkit-flex-grow: 4;
	flex-grow: 1;
}

body > header {
	display: -webkit-flex;
	display: flex;
	max-width: 100%;
	padding: 30px;
	border-bottom: 1px solid rgb(18, 40, 56);
}

.nav {
	color: gray;
}

body > header .nav {
	align-self: center;
	-webkit-align-self: center;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

body > header .nav a {
}

@media (max-width: 650px) {
	body > header {
		flex-direction: column;
		-webkit-flex-direction: column;
		padding: 5%;
	}

	body > header .nav {
		margin-top: 20px;
		display: -webkit-flex;
		display: flex;
		-webkit-align-self: flex-end;
	}

	body .article-title {
		font-size: 170%;
	}

	.article-body {
		padding-top: 100px !important;
	}
}


body > header .word {
	color: #6e7274;
	font: 200 11px "Helvetica Neue"; /* "NexaRegular"; */
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 0 5px;
}

body > header a:active, body > header a:hover, a.hover {
	background: rgb(22, 65, 90);
	border-radius: 3px;
	border-top: 1px solid rgb(32, 75, 100)
}

body > header {
	font: "NexaHeavy"; color: #004c66; /* background heading text color and font */
}

.logo {
	flex-grow: 4;
	-webkit-flex-grow: 4;
	max-width: 100%;
}

.logo .logo-icon {
	max-width: 100%;
}

.logo h1 {
	display: none;
	font: 23pt Nexa; color: white;
	text-transform: uppercase;
}

.logo > * {
	align-self: center;
	-webkit-align-self: center;
}

.article-background {
	float: left
}

input {
	padding: 5px;
}

h1 {
	font: 600 60px "Avenir Next";
}

.lab-illustration {
	background: url('/img/lab-illustration.png') no-repeat 20px 90px, #11191c;
}

.content {
	display: -webkit-flex;
	display: flex;
}

.article {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	width: 100%;
	align-items: center; /* centers article body element maxd width */
}

.article header {
	display: block;
	text-align: right;
	align-self: flex-end;
	flex-grow: 2;
	-webkit-flex-grow: 2;
	z-index: 10;
}

.article-title {
	display: inline-block;
	max-width: 50vw;
	color: rgba(186, 186, 186, 1);
	background: rgba(0,0,0,1);
    font-family: "NexaBold";
    font-weight: normal;
    font-size: 48pt;
	overflow: hidden;
    margin: 50px 0 -50px 0;
	z-index: 10;
	padding: 10vh 25px;
    text-align: right;
}

.article-subtitle {
    display: none; /* inline */
	color: #cbcbcb;
    background: rgba(0, 111, 147, 0.44);
    line-height: 2em;
    padding: 9px;
    font-family: proxima-nova, 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.article-body {
	display: block;
	width: 100vw;
	box-sizing: border-box;

	background: white;
	flex-grow: 1;
	-webkit-flex-grow: 1;

	padding: 55px;
	margin: 0;
}


.article-body  h3 {
	margin: 18px 0;
	text-transform: uppercase;
	font-family: nexaregular;
	color: silver;
}

.article-body h4 {
	margin: 0;
    text-transform: uppercase;
    font-family: nexabold;
    color: darkkhaki;
    text-align: right;
}

.body-section h4 strong {
	color: slategray;
}

.body-section.ventures h4 {
	color: darkseagreen;
}

.body-section.lab h4 {
	color: darkviolet;
}

.body-section.studio h4 {
	color: slategray;
}

.body-section.studio h4 strong {
	color: black; /* slateblue; */
}



.article-body p {
	font-family: "Helvetica Neue";
	font-weight: 300;
	line-height: 1.8em;
	color: #333;
	text-align: justify;
}

.body-section {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	margin: 25px;
}

.contact-section .button {
	margin: 10px;
}

a.button, .read-more {
	font-family: "NexaRegular";
	font-size: 20px;
	color: white;
	background-color: #00526d;
	padding: 15px;
	margin: 25px 0 0 0;
	display: inline-block;
	border-radius: 3px;
	background: linear-gradient(40deg, rgb(5, 96, 125) 50%,  rgb(6, 110, 145) 50%);
}

body > footer {
	--background-color: #122838; /* #00394e; #09607f; darker: #00394e; darkerer: #122838; middle: #004c66; lighter: #066e91; */
	font-family: proxima-nova, 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* CTA / heading */
	text-align: center;
	border-top: 1px solid #122838;
	flex-grow: 0;
}

body > footer .copyright {
	font-size: 11px;
	color: #555;
	min-height: 60px;
	line-height: 60px;
	font-weight: bold;
}
