<html>
	<head>
		<title>
			Incremental Code: Internet Software Studio
		</title>
		<link rel="stylesheet" href="/theme/style.css"/>
	</head>
	<body>

		<h1>{{ page.title }}</h1>

		{{ content }}

		<h2>Say hello...</h2>

		<dl><dt>Email</dt><dd><a href="mailto:hello@incremental.co">hello@incremental.co</a></dd></dl>
		<dl><dt>Twitter</dt><dd><a href="http://twitter.com/incrementalcode">@incrementalcode</a></dd></dl>
		<dl><dt>Location</dt><dd>CodeBridge, Claremont, Cape Town</dd></dl>

		{% if site.posts > 0 %}
			<h2>Recent articles</h2>

			{% for post in site.posts | group_by: "category" %}
				<div> #{{ post.category }}  <a href="{{ post.url }}">{{ post.title }}</a> <div>
			{% endfor %}
		{% endif %}
	</body>
</html>